html,
body {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
}


.lt_container {
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
}
.lt_container .lt_header {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #006699;
    padding: 0 45px;
}
.lt_container .lt_footer {
    width: 100%;
    height: 55px;
    background-color: #006699;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.lt_container .lt_main {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}
.lt_container .lt_header .icon_left,
.lt_container .lt_header .icon_right {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 0;
    color: #fff;
}
.lt_container .lt_header .icon_left {
    left: 0;
}
.lt_container .lt_header .icon_right {
    right: 0;
}
.lt_container .lt_header h3 {
    text-align: center;
    color: #fff;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
}
.lt_container .lt_footer li {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
}
.lt_container .lt_footer a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    margin-top: 8px;
}
.lt_container .lt_footer p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    color: #fff;
}
.lt_container .lt_footer a.current {
    color: orange;
}
.lt_container .lt_footer a.current p {
    color: orange;
}




/* 公共的商品样式 */
.lt_product {
    padding: 10px;
  }
  .lt_product_item {
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
    width: 48%;
    margin-bottom: 10px;
    text-align: center;
  }
  .lt_product_item a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .lt_product_item:nth-child(2n+1) {
    margin-right: 4%;
  }
  .lt_product_item .info {
    text-align: left;
    height: 40px;
  }
  .lt_product_item .price {
    color: red;
  }
  .lt_product_item .oldPrice {
    text-decoration: line-through;
  }
  
  .lt_product_item img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  
  
  /* 公共的尺码样式 */
  .lt_size span {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 12px;
    margin: 3px 0;
  }
  .lt_size span.current {
    background-color: orange;
    color: #fff;
  }